.specialButton{
    clip-path: polygon(18px 0%, 100% 0%, calc(100% - 18px) 100%, 0% 100%);
    padding: 10px;
    padding-inline: 20px;
    margin-top: 25px;
    font-family: var(--font-mono);
    font-size: 2rem;
    font-weight: 300 !important;
    cursor: pointer;
    background: rgb(194, 146, 69);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    border: 1px solid rgba(255, 190, 88, 0.5); 
    transition: all 0.3s ease;
}

.specialButton:hover{
    background: rgb(211, 160, 76);
}